body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333; 
    color: #fff; 
}

header {
    background-color: #cc0000; 
    padding: 10px 0;
}

.page-title {
    text-align: center;
    margin-bottom: 30px;
}

.page-title h1 {
    font-size: 28px;
    color: #cc0000; 
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.page-title button {
    background-color: #cc0000; /* F1 Red color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.page-title button:hover {
    background-color: #ff3333;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #cc0000; 
}

.logo img {
    height: 50px; 
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #cc0000; 
    font-size: 24px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #333; 
    font-size: 20px;
    margin: 0;
}

p {
    color: #555;
    margin: 5px 0;
}

/* Footer */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

footer {
    text-align: center;
    background-color: #cc0000; /* F1 Red color */
    color: #fff;
    padding: 10px 0;
    font-size: 14px;
}

/* Nav Bar */
.nav-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-button {
    background-color: #cc0000; 
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.nav-button a {
    text-decoration: none;
    color: #fff;
}

.nav-button:hover {
    background-color: #ff3333;
}